body {
	background-color: gray;
}
.container {
	background-color: graygray;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.navbar-brand {
	background-color: gray;
	width: 990px;
	padding: 5px;
}
.brand {
	color: white;
	font-size: 40px;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	width: 240px;
}
.navbar-button {
	background-color: #303030;
	width: 321px;
	height: 25px;
	font-size: 18px;
	padding: 5px;
	float: left;
	border-right: 2px dotted #444444;
	text-align: center;
}
.navbar-button:hover {
	background-color: #000000;
	cursor: pointer;
}
a:link {
	color: white;
	text-decoration: none;
	text-align: center;
}
a:visited {
	color: white;
}
a:hover {
	color: FFFFFF;
}
.end {
	clear: both;
}
.space {
	width: 1000px;
	height: 20px;
	background-color: gray;
}
.up-vote {
	width: 500px;
	height: 24px;
	color: green;
	text-align: center;
	font-size: 18px;
	float: left;
	background-color: #303030;
}
.down-vote {
	width: 500px;
	height: 24px;
	color: red;
	text-align: center;
	font-size: 18px;
	float: left;
	background-color: #303030;
}
.title {
	width: 1000px;
	font-size: 18px;
	background-color: lightgray;
	text-align: center;
	font-weight: bold;
}
.description {
	width: 1000px;
	font-size: 18px;
	background-color: gray;
	text-align: center;
	color: white;
}
.link {
	width: 990px;
	font-size: 18px;
	background-color: #303030;
	text-align: center;
	font-weight: bold;
	padding: 5px;
}
.link:hover {
	width: 990px;
	font-size: 18px;
	background-color: black;
	text-align: center;
	font-weight: bold;
	padding: 5px;
}
.form-control {
	height: 25px;
	width: 200px;
	padding: 10px;
}
.apply-button {
	height: 31px;
}
.link-register {
	color: red;
	font-size: 25px;
}
.login-info {
	background-color: black;
	color: red;
	padding: 10px;
	text-align: center;
}
.footer {
	background-color: black;
	color: white;
	width: 1000px;
	height: 25px;
	text-align: center;
	font-size: 20px;
	color: lightgray;
}